  html{
    font-size:10px;
  }

  
  body{
    box-sizing: border-box;
    margin:0;
    padding:0;
   width:100%;
   height:100%;
  }
  section{
    padding-bottom: 5rem;
    
  }
  /* only for navigation bar*/
   .overlay{
    width:100%;
    height:0;
    position:fixed;
    z-index: 2;
    top:0;
    left:0;
    background-color: rgb(0,0,0);
      transition: 0.5s;
      overflow-x:hidden;
  }
.overlay-content{
  position:relative;
  top:20%;
  width:100%;
  text-align:left;
  margin-top:3rem;
  padding-left: 3rem;
}
.overlay a {
  padding: 0.8rem;
  text-decoration: none;
  font-size: 3rem;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s}
.overlay .closebtn {
  position: absolute;
  top: 3px;
  right: 2rem;
  font-size: 7rem;
}
#fixi{
  z-index: 3;
      bottom: 0;
      position: -webkit-sticky;
      position: sticky;
      background:black;
      display:grid;
      grid-template-columns: auto auto auto auto auto; 
}

  /*for scrolling images*/
 
  .slide-container{
  width:33rem;
  height:50rem;
  display: flex;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding-top:5px;
  padding:0;
  margin:0;
}

.slide-container .slide
{
  padding-right: 1rem;

}

.slider-container img{
    object-fit:contain;
    padding:1rem;
}
img{
  width:29rem;
  height:36rem;
  }
  
  
  /*for automatic sliding images*/
  .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
 /*entire header section*/
  header{
    background: black ;
    color:white;
    padding:1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
      top: 0;
      position: -webkit-sticky;
      position: sticky;
      
  }
  header .a1{
    font-weight: 800;
    text-align:left;
    font-size: 3rem;
    text-transform: uppercase;
  }
  /*sidebar*/
    .divi1,
    .divi2,
    .divi3 {
      background-color: white;
      width: 4rem;
      height: 0.5rem;
      margin: 0.6rem 0;
      transition: 0.4s;
    }

    .divimain {
      margin: 1rem;
    }
    
    /*about section*/
    .b1{
      background:url(https://bd.gaadicdn.com/processedimages/ola-electric/appscooter/source/appscooter6358c5908544b.jpg) no-repeat center scroll;
      background-size:cover;
      
    }
    
        
    /*seond introduction section*/
    .b1{
      
      color: white ;
      text-align: center;
      font-size: 2rem;
      margin:0;
      padding:2.5rem 0;
      padding-top:1rem;
    }
    .b1a{
      font-weight: 200;
      margin:0.5rem;
      text-transform:uppercase;
    }
    .b1b{
      font-weight:800;
      text-transform: uppercase ;
      font-size: 5rem;
    }
    #b1b1{
      font-weight:300;
    }
    .b1c{
      color:#ebd38a;
      
   font-size:2.5rem;
    }
    .b1d{
      padding:0;
        box-sizing:content-box;
font-size: 2.3rem;
      padding-top:35rem;
    padding-bottom:6rem;
    margin:11rem;
    height:2rem;
    }
#b1d1{
  background:white;
  color:black;
  margin:0;
  padding:1rem;
  box-sizing:content-box;
  overflow:hidden;
}

/*for eniture section 3*/
.c1{
  color:black;
  text-align:left;
  padding:0;
    margin:0;
  padding-left:1rem;
}
.c1a{
  font-size:3.5rem;
  text-shadow:2px 1px green;
  padding-top:3rem;
  font-weight:800;
  padding-right:2rem;
}
.c1b{
  font-weight:290;
  padding:0;
  margin:0;
  padding-top: 1rem;
  font-size:2rem;
  padding-bottom:0.5rem;
}
.c1c{
  font-size: 2rem;
  color:green;
  text-decoration: 1px underline;
 padding-top:0;
 padding-bottom:1rem;
}

#img1{
  width:30rem;
  height:35rem;
}
.c1d{
  font-size: 2rem;
  font-weight: 600;
  padding-top:1rem;
    padding-bottom:1rem;
    padding-right: 3rem;
}
.c1e{
  font-size: 1.6rem;
  font-weight: 300;
  padding-right:3rem;

}
.green2{
  color:green;
  font-weight:500;
  padding:0 0;
  font-size: 2.4rem;
}


/* for entire 4*/
.d1{
  padding-left:1rem;
}
.d1a{
  font-size:3.5rem;
  text-shadow:2px 1px green;
  padding-top:2.8rem;
  font-weight:500;
  padding-right:2rem;
  padding-top:8rem;
} /*container*/
.cont1{
padding:0;
    display:grid;
    grid-template-columns: auto auto;
    gap:0;
   margin:1rem;
}
.cont1left{
  width:100%;
  text-align:left;
  padding:3rem 0 2rem 0;
}
.contright{
 width:100%;
}

.d1b,.d1c,.d1d,.d1e{
padding:1rem 0;
}
.d1b{
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 270;
}
.d1bb{
  font-weight: 900;
}
.d1bc{
  font-weight:900;
  color:#c75712;
  background :#ffe3d4;
  padding:2px;
  font-size:1.6rem;
  margin-right:0;
}
.d1c{
  font-weight:400;
  font-size:1.5rem;
}
.d1d{
  font-weight:300;
}
.d1e{
  color:green;
  font-weight:650;
}

#imgleft1{
 padding-right: 1rem;
  
}
.dlast{
  padding:0;
    display:grid;
    grid-template-columns: auto auto;
    gap:0;
   margin:1rem;
   text-align: center;
}
.dlast1{
  padding:1rem;
  background:#d9d8d7;
  margin-right:1.8rem;
}
.dlast2{
    color:white;
    background: black ;
padding:1rem;
}


/*just sinle image section*/
.e1{
  padding-left:1rem;
}
.e1a{
  font-size:3.5rem;
  text-shadow:2px 1px green;
  padding-top:2.8rem;
  font-weight:500;
  padding-right:2rem;
  padding-bottom:1.8rem;
}
.e1b,.e1c,.e1d,{
  padding :2rem 0;
}
.e1c{
  line-height: 1.5;
  padding-right:3.5rem;
  font-weight:400;
  padding-top:1rem;
}
.e1d{
  color:green;
  font-weight:570;
  padding:2.5rem 0;
  font-size: 2.4rem;
}

/*store section*/
.f1{
  background:black;
  color:white;
  padding-left: 1rem;
}

.f1a,.f1b,.f1c,.f1d{
 padding:1.5rem 0;;
}
.f1a{
    padding-top:6rem;

}
.f1aa{
    font-weight:900;
  color:#c75712;
 background: rgba(255,255,255,0.2);
  font-size:1.6rem;
  padding:5px;
 
}
.f1b{
  font-size:3.5rem;
  text-shadow:2px 1px green;
  font-weight:500;
  padding-right:2rem;
}
.f1c{
  font-weight: 250;
}
.f1d{
    color:green;
  font-weight:570;
  padding:2.5rem 0;
  font-size: 2.4rem;
  padding-bottom:40rem;
}

/*side scrooling images*/
.g1{
  padding-left: 1rem;
}
.g1a,.g1b,.g1c,.g1d,.g1e,.g1f{
  padding:1rem 0;
  
}
.g1a{
  font-size:3.5rem;
  text-shadow:2px 1px green;
  font-weight:500;
  padding-right:2rem;
  padding-top:4rem;
}
.g1c{
  font-weight: 600;
  font-size:3rem;
  padding:2px 0;
}
.g1d{
  font-weight:300;
  font-size:2rem;
  padding-right:4rem;
}
.g1e{
  font-weight:240;
  font-size:1.4rem;
  padding-top:3rem;
}
.g1f{
  
    color:green;
  font-weight:570;
  padding:1px 0;
  font-size: 2.4rem;

}

/*video section*/
.i1{
  padding-left:1rem;
  background:black;
  color:white;
}
.i1a{
    font-size:3.5rem;
  text-shadow:2px 1px
  font-weight:500;
  padding-right:2rem;
  padding-top:6rem;
}
.i1c{
  padding-top:2rem;
  padding-bottom: 8rem;
  font-weight:350;
}

/*image in row column*/
.j1{
  padding: 1rem;
}
.j1a{
    font-size:3.5rem;
  text-shadow:2px 1px green;
  font-weight:500;
  padding-right:2rem;
  padding-top:4rem;
  padding-bottom:1rem;
}
.j1b{
      display: grid;
    
    flex-direction:column;
   overflow:hidden;
    width:auto;
    height:auto;
}
.j1b2{
  padding:2rem;
  background: #ffffcc;
  padding-bottom:60rem;
margin-top:0}
.j1b3{
  font-weight: 600;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  
}
.j1b4{
  line-height: 1.6;
  padding-bottom: 50rem;
}

/* two images sectoon*/
.k1{
  padding-left: 1rem;
}
.k1a,.k1b,.k1c,.k1d{
  padding:1rem 0;
  
}
.k1a{
  font-size:3.5rem;
  text-shadow:2px 1px green;
  font-weight:500;
  padding-right:2rem;
  padding-top:4rem;
}
.k1c{
  font-weight: 600;
  font-size:2.5rem;
  padding:2px 0;
}
.k1d{
  font-weight:300;
  font-size:1.5rem;
  padding-right:4rem;
 line-height: 1.5;
}

/*5 images section*/
.l1{
  padding-left: 1rem;
  background :#ecf8ec;
}

.l1a{
  font-size:3.5rem;
  text-shadow:2px 1px green;
  font-weight:500;
  padding-right:2rem;
  padding-top:4rem;
}
.cont2{
  display:grid;
    grid-template-columns: auto auto;
    gap:1.5rem;
   margin:1rem;
}
.l1c{
  font-weight:300;
  font-size:1.5rem;
  padding-right:4rem;
 line-height: 1.5;
 padding-bottom:3rem;
}
.l1d{
  color:green;
  font-weight:570;
  padding:1px 0;
  font-size: 2.4rem;
  padding-bottom:2rem;
}
/*side scroll image section*/
.m1{
    padding-left: 1rem;

}
.m1a{
    font-size:3.5rem;
  text-shadow:2px 1px green;
  font-weight:500;
  padding-right:2rem;
  padding-top:3rem;
  padding-bottom:2.5ren;
}
.m1c{
      font-weight:500;
  font-size:1.5rem;
  padding-right:4rem;
 line-height: 1.5;
 padding-bottom:1rem;
}
.m1d{
    color:green;
  font-weight:570;
  padding:1px 0;
  font-size: 2.4rem;
  padding-bottom:3rem;
}
/* last section for forms and all*/
.n1{
      padding-left: 2rem;
      background: 	 #f2f2f2;
      margin-bottom: 0;
      padding-top:1.5rem;
padding-bottom:0;
}
#n12{
        display:flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}
.n1a{
      font-size:3.5rem;
  text-shadow:2px 1px green;
  font-weight:500;
  padding-right:2rem;
  padding-top:3px;
  padding-bottom:2.5rem;
}
.n1b input{
  width:28rem;
  padding:1.5rem 2rem;
  margin:1rem;
  text-align: left;
}
.n1b button{
  width:32.5rem;
  text-align:left;
  margin:1rem;
  padding:1.5rem 2rem;
  background:black;
  color:white;
  box-shadow:-2px 3px 1px green;
}

.n1c{
  background: #d9d9d9;
  padding: 2rem;
  margin:1rem;
  margin-bottom: 10rem;
}
.n1c1,.n1c2,.n1c3{
  padding-top:1.6rem;
}
.n1c1{
  color:#e60000;
  font-weight:700;
}
.n1c2{
  font-weight:260;
  padding-bottom:2rem;
}
/*last links section*/
.o1a{
  margin:0;
  padding:0;
  display:block;
}
li{
  list-style-type: none;
  padding-top:1rem;
  padding-bottom:1rem;
  border-bottom:0.01px solid  #d9d9d9;
  margin-left:0;
  padding-left:0;
  display:block;
  font-size:2rem;
  cursor:pointer;
}
ul{
  margin:0;
  padding:0;
}
footer{
      background: 	 #f2f2f2;
      padding-bottom: 2rem; 
      margin-bottom:0;
     
}

.p1{
  padding-left:1rem;
  padding-top:5rem;
}
.p1a,.p1b{
  padding-top:2rem;
}
.p1a{
    border-bottom:0.01px solid  #d9d9d9;
        display:flex;
    align-items: center;
    justify-content: space-between;

}

.p1b{
  font-weight:280;
  font-size:1.5rem;
}
.p1aa img{
margin-left:1rem;
}
/*for entire image section*/
.dimg1,.dimg2,.dimg3{
  width:16.5rem;
  height:21rem;
}
.dimg2{
  width:17rem;
}
.eimg,.gimg,.iimg,.kimg,.kimg1,.mimg{
  width:33rem;
  height:20rem;
}
.gimg2{
  width:29rem;
  height:33rem;
}
.jimg{
  width:33rem;
  height:25rem;
}
.limg{
  width:15rem;
  height:26rem;
}
.limg2{
    width:33rem;
  height:27rem;
}
.pimg{
      width:3.5rem;
  height:2.5rem;
}

#fixi img{
  width:2rem;
  height:3rem;
}



    @media only screen and (min-width:850px)
   {
     html{
       font-size: 15px;
     }
     #n12{
       display:flex;
      align-items: flex-start;
      justify-content; space-between ;
      flex-direction: column;
}
#fixi img{
  width:5rem;
}
#fixi img{
  width:2rem;
  height:3rem;
}
.limg2{
    width:35rem;
  height:27rem;
}
   }
